<div class="container">
    <div class="jumbotron text-center display-4">
      <i class="far fa-grin"></i>&nbsp;{{title}}
    </div>

    <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Tell us the precision of your happiness
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <ul>
      {{#each positivePolarityEmojis}}
        <li class="dropdown-item emoji-size" data-toggle="modal" data-target="#myModal">
          {{name}} {{polarity}} {{emoji}}
        </li>
      {{/each}}
      </ul>

    </div>
  </div>

  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Tell us your feeling
    </button>
    <div class="dropdown-menu dropdown-menu-right">

      {{#each neutralPolarityEmojis}}
        <button class="dropdown-item emoji-size" data-toggle="modal" data-target="#myModal">
          {{name}} {{polarity}} {{emoji}}
        </button>
      {{/each}}


    </div>
  </div>

  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Tell us the precision of your sadness
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <ul>
      {{#each negativePolarityEmojis}}
        <li class="dropdown-item emoji-size" data-toggle="modal" data-target="#myModal">
          {{name}} {{polarity}} {{emoji}}
        </li>
      {{/each}}
      </ul>

    </div>
  </div>

<<<<<<< HEAD
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon bg-dark p-4"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon bg-dark p-4"></span>
  </a>
=======
>>>>>>> 8b9b7477b78e51357e13cd548b11234c4dfdb58a
</div>



<!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
           <div>{{this.emoji}}</div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>